* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: #4E5150;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px;

    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.artist {
    width: 40%;
    margin: 0 auto 50px auto;
}

.personal-info {
    width: 50%;
    text-align: center;
    padding: 10px 30px;
    margin: 0 auto;
}

.personal-info * {
    margin-bottom: 5px;
}

.personal-info img {
    width: 100%;
    border-radius: 12px;
}

.personal-info .name {
    font-size: 24px;
}

.personal-info .location {
    font-size: 14px;
    color: #A9A9A9;
}

.profile-info {
    display: flex;
    gap: 20px;
}

.profile-item {
    flex: 1 0;
    background-color: #E5E5E5;
    border-radius: 12px;
    text-align: center;

    padding: 20px;
}

.profile-item .number {
    font-size: 18px;
}

.profile-item .content {
    font-size: 14px;
    color: #BDBDBD;
}

/* style for photos gallery */
.photos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.photos .imgTwo {
    grid-column: 2/4;
}

.photos .imgThree {
    grid-column: 1/3;
}

.photos .imgFour {
    grid-row: 2/4;
    grid-column: 3;
}

.photos img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* style for footer */
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #BDBDBD;
    margin-top: 50px;
}

footer .created-by {
    margin: 0 auto;
    width: fit-content;
}

footer .author {
    font-weight: bold;
    color: #BDBDBD;
}

@media screen and (max-width: 1024px) {
    .artist {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .personal-info .name {
        font-size: 14px;
    }
    
    .personal-info .location {
        font-size: 10px;
    }

    .profile-item {
        padding: 20px 0px;
    }

    .profile-item .number, .profile-item .content {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 20px;
    }

    .personal-info {
        width: 80%;
    }

    .artist {
        width: 90%;
        margin-bottom: 30px;
    }
}